
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

html,
body,
#root {
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
}